<div class="col-md-8 col-md-offset-2">
  <h1><%= title %></h1>
  <p>Welcome to
    <%= title %>
  </p>

  <div v-for="item in postsList">
    <a v-bind:href="item.url">{{ item.title }}</a>
  </div>
</div>

<script>
  var vm = new Vue({
    el: '#app',
    data: {
      postsList: []
    },
    methods: {
      fetchData() {
        axios.get('/api/posts')
          .then(function(response) {
            vm.postsList = response.data.postsList;
            vm.postsList.forEach((element) => element.url = '/posts/show?id=' + element._id);
          })
      }
    }
  });

  vm.fetchData();
</script>
